<div class="board">
  @for (row of cells; track $index) {
    <div class="row">
      @for (cell of row; track $index) {
        <button
          type="button"
          class="cell"
          [class.revealed]="cell.isRevealed"
          [class.flag]="cell.hasFlag"
          [class.empty]="cell.isRevealed && !cell.hasFlag && !cell.hasMine && cell.adjacentMines == 0"
          (click)="onCellClick(cell.row, cell.col)"
          (contextmenu)="onRightClick($event, cell.row, cell.col)"> <!-- This feels like a hack, but I couldn't find another way to bind to right-click. -->
          @if (cell.hasMine && cell.isRevealed) {
            @if (cell.isExploded) {
              💥
            } @else {
              💣
            }
          } @else if (!cell.isRevealed && cell.hasFlag) {
            🚩
          } @else if (cell.isRevealed && !cell.hasMine && cell.adjacentMines > 0) {
            <span [class]="'adjacent-'+ cell.adjacentMines">{{cell.adjacentMines}}</span>
          }
        </button>
      }
    </div>
  }
</div>
