<div class="board">
  @for (row of cells; track $index) {
    <div class="row">
      @for (cell of row; track $index) {
        <button
          type="button"
          class="cell"
          (click)="onCellClick(cell.row, cell.col)"
        >
          @if (cell.hasMine && cell.isRevealed) {
            <span>💣</span>
          } @else if (!cell.isRevealed && cell.hasFlag) {
            <span>🚩</span>
          } @else if (cell.isRevealed && !cell.hasMine && cell.adjacentMines > 0) {
            <span>{{cell.adjacentMines}}</span>
          }
        </button>
      }
    </div>
  }
</div>
